body{
  background-color: black;
}

.box{
  background-color: white;
    display: flex;
    gap: 17px;
    width: 45vw;
    height: 28px;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.a{
  background-color: red;
  width: 52px;
  border-radius: 7px;
  height: 23px;
}
.red{
  background-color: red;
}
.green{
  background-color: greenyellow;
}
.blue{
  background-color: rgb(116, 116, 224);
}
.gray{
  background-color: gray;
}
.yellow{
  background-color: yellow;
}
.pink{
  background-color: pink;
}
.purple{
  background-color: purple;
}
.white{
  background-color: white;
}